<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>

  <div class="login-card">
    <h1 class="card-title">Admin Portal Login</h1>

    <div id="message-box" class="message-box hidden" role="alert">
      <% if (typeof err !=='undefined' ) { %>
        <h3 style="color:red; margin-bottom:10px;">
          <%= err %>
        </h3>
        <% } %>
    </div>

    <form id="login-form" action="/auth/login" method="post">

      <div class="input-group-spacing">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" class="form-input" placeholder="Enter username" required>
      </div>

      <div class="input-group-bottom">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" class="form-input" placeholder="Enter Password" required>
      </div>

      <button type="submit" class="submit-button">Log In</button>
    </form>

    <p class="footer-text">
      Forgot your password? <a href="#" class="footer-link">Contact support</a>
    </p>
  </div>

</body>

</html>